.main-slider {
  position: relative;
  .swiper-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    @include sm {
      gap: 5px;
    }
    .swiper-pagination-bullet {
      margin: 0;
      width: 26px;
      height: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: rgba(#fff, 0);
      opacity: 0.5;
      transition: 0.3s ease-in-out;
      transition-property: background-color, opacity;
      display: flex;
      align-items: center;
      justify-content: center;
      @include sm {
        width: 13px;
      }
      &::after {
        content: "";
        width: 16px;
        height: auto;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #fff;
        @include sm {
          width: 8px;
        }
      }
      &:hover {
        opacity: 1;
      }
      &.swiper-pagination-bullet-active {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}

.slider-img {
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
}
