:root {
    --primary-color: #01518e;
    --primary-color-rgb: 1, 81, 142;
    --secondery-color: #878787;
    --secondery-color-rgb: 135, 135, 135;
    --text-color: #333333;
    --border-radius: 30px;
    font-size: 16px;
}

$main:var(--primary-color);
$sec:var(--secondery-color);
$text:var(--text-color);
$radius:var(--border-radius);
